
/* font-family: 'Roboto', sans-serif; */
    
body { font-family: 'Inconsolata', monospace;
    font-weight: 300;
    margin: 0;
    font-size: 1rem;
    /* line-height: 1.5; */
    color: #383442;
    text-align: left;
    background-color: #ffffff;
    }

strong {
        font-weight: 800;
      }

h1, h2, h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    }

h5, h6 {
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
    }

canvas {
        border: 1px dotted #817899;
        background: #f8f8f8
      }
      
/* .chart-container {
        position: relative;
        margin: auto;
        height: 500px;
        width: 500px;
      } */

.xtra-bold {font-weight: 800;}

#home-search-box {

    background-color: #f8f8f8;
    border: 1px solid #727e96;
    margin: 75px auto 60px;
    padding: 35px;
}

/* Navbar background */
.navbar-custom-theme {
    background-color: #f8f8f8;
    border-bottom: 1px dotted #8e9aa5; 
  }
  
  /* Color of the logo */
  .navbar-custom-theme .navbar-brand {
    color: #383442;
  }
  
  /* Color of logo when you hover on it */
  .navbar-custom-theme .navbar-brand:hover,
  .navbar-custom-theme .navbar-brand:focus {
    color: #414f7a;
  }

  .navbar-custom-theme .navbar-brand {
    font-size: 2.0rem;
    font-family: 'Inconsolata', monospace;
    font-weight: 600;
    display: block;
    position: absolute;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 75%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  .navbar-custom-theme .nav-link {
    color: #6b5f93;
  }
  
  .navbar-custom-theme .nav-link:hover,
  .navbar-custom-theme .nav-link:focus {
    color: #383442;
  }
  
  /* Change border color of navbar-toggler */
  /* .navbar-custom-theme .navbar-toggler { */
  /*   border-color: white; */ 
  /* } */
  
  /* You can even edit the toggler icon (see example below)! Here are
   * the properties you can edit:
   *   stroke
   *     the color of the lines
   *
   *   stroke-width
   *     width of lines
   *
   *   stroke-miterlimit
   *     tbh I have no idea how to explain this... it basically helps the SVG
   *     renderer decide when to make a stroke pointy. You can see a better
   *     explanation here:
   *     https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-miterlimit
   *
   *   d
   *     how to draw the svg. For example:
   *       M4 --- the margin for the first line (set to 4)
   *       12h22 --- 12 is where to start drawing the line, h22 is how long it
   *                 should be
   */
  .navbar-custom-theme .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(76, 81, 141)' stroke-width='1' stroke-miterlimit='10' d='M4 12h22 M4 17h22 '/%3E%3C/svg%3E");
  }
  
  .static-height {
    height: 350px;
    background: #f8f8f8;
  }


    /* light gray: #f4f6fc */
    
/* "Open Sans", sans-serif; */
/* "Cousine", monospace; */


