{% extends 'base.html' %}
{% block title %}Renters Speak{% endblock %}

{% block body %}
  <h1>Renters Speak: All Reviews</h1>

  {% if session.get('user_email') %}
  <h2>Write a Review (for Logged in Users)</h2>
  <form action="/write_review" method="POST">
    <p>
      Which Landlord are you Reviewing?: <input type="text" name="landlord" size="50">
    </p>
    <p>
      Which Building are you Reviewing?: <input type="text" name="building" size ="50">
    </p>
    <p>
      Enter your review text: <br>
      <textarea name="review_body" rows="4" cols="50">
      </textarea>
    </p>
    <p>
      <input type="submit">
    </p>  
  </form>
  {% endif %}
  
    <ul>
        {% for review in reviews %}
        <h2>Review Information:</h2>
            <li>
                Review text:
                <br>
                {{review.review_body}}
                <br>
            </li>
            <li>
                Referring to this building:
                <br>
                {{review.building.building_address}}
                <br>
            </li>
            <li>
                Referring to this landlord:
                <br>
                {{review.building.landlord.landlord_name}}
            </li>
            <li>
                Written by:
                <br>
                {{review.user.email}}
                <br>
            </li>
            <br>
        {% endfor %}
    </ul>
{% endblock %}