{% extends 'base.html' %}

{% block title %}{{ building.building_housenumber }} {{ building.building_streetname }} - Details{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1>{{ building.building_housenumber }} {{ building.building_streetname|title }},
                {{ building.building_postcode }} </h1>
        </div>
    </div>
        <br>

    <div class="row">
        <div class="col-12">
            
            <h2>Renter Reviews of {{ building.building_housenumber }} {{ building.building_streetname|title }}</h2>
                <br>
                <dl class="row">
                {% if building.reviews %}
                    {% for review in building.reviews %}

                        <h4>Details for Review</h4>

                        <dt class="col-12">Date of Review</dt>
                        <dl class="col-12">{{ review.created_on }}</dl>
                        <dt class="col-12">Written By</dt>
                        <dl class="col-12">{{ review.user.username }}</dl>
                        <dt class="col-12">Review Text</dt>
                        <dl class="col-12">{{ review.review_body }}</dl>
                        <br>
                        {% endfor %}
                {% else %}
                    <dt class="col-12">No Renter Reviews for this Address </dt>
                {% endif %}
                </dl>
            <button id="write-a-review" class="btn btn-outline-info">Write A Review</button>
        </div>
    </div>
    <br>
    <hr>
    <br>
    <!-- <div class="violation-group" > -->
    {% if violation_list %}

        <h2 id="violations-info-trigger">{{ length_violation_list }} <span>NYC Housing Maintenance Code Violation(s)</span> at this address</h2>
    

        <br>
        <div id="violations-info" class="panel">Following the New York City Housing Maintenance Code, the <a href=
            "https://www1.nyc.gov/site/hpd/services-and-information/clear-violations.page" target="_blank">Department of Housing Preservation 
            and Development (HPD)</a> issues violations against verified conditions in rental dwelling units and buildings that violate the New York City 
            Housing Maintenance Code (HMC) or the New York State Multiple Dwelling Law (MDL).<br>
            <br>
            The <a href="https://www1.nyc.gov/site/buildings/codes/code-tools.page" target="_blank">New York City Housing Maintenance Code</a> covers the responsibilities of owners, tenants, and the City for maintaining health, 
            safety, repair, and maintenance in dwellings.

        </div>

        <br>
        <br>
        
        <div id="violations-doughnut-chart">
        <canvas id="violation-class" height="50" data-chart='{{data}}'></canvas>
        </div>

        <!-- <div class="violation-list" id="first-two-violations">

            {% for violation in violation_list %}

                    {% if loop.index<= 2 %}
                        <dl class="row">

                            <h4>Details for Violation #{{ violation.violationid }}</h4>
            
                            <dt class="col-12">Violation Date</dt>
                            <dd class="col-12">{{ violation.inspectiondate }}</dd>
                            <dt class="col-12">Violation Class</dt> 
                            <dd class="col-12">{{ violation.violation_class }}</dd>
                            <dt class="col-12">Description of Violation:</dt>
                            <dd class="col-12">{{ violation.novdescription }}</dd>
                            
                        </dl>
                    
                    {% endif %}

                
            {% endfor %}

        </div> -->

        <div>
        {% for violation in violation_list %}
            <div class="violation-list" id="violation-list">
                <!-- <dl class="row"> -->

                    <h4>Details for Violation #{{ violation.violationid }}</h4>
                    <br>
                    <h5>Violation Date</h5>
                    <div>{{ violation.inspectiondate }}</div><br>
                    <h5 id="violations-class-info-trigger"><span>Violation Class</span></h5>
                    <div>{{ violation.violation_class }}</div><br>
                    <div id="violations-class-info" class="panel"><h5>Summary of the Classes of NYC Housing Violations:</h5>
                        <u>Class A violations (non-hazardous)</u><br>
                        Must be corrected 90 days from the mailing of the notice of violation.
                        Certification of Correction is required 14 days after the Correction Date.<br>
                        <u>Class B violations (hazardous)</u><br>
                        Must be corrected 30 days from the mailing of the notice of violation.
                        Certification of correction is required five days after the Correction Date.<br>
                        <u>Class C violations (immediately hazardous)</u><br>
                        Must be corrected twenty four hours from the mailing of the notice of violation.
                        Certification of correction is required five days after the Correction Date. 
                        <br>
                    <br>    
                    </div>
                    <h5>Description of Violation</h5>
                    <div>{{ violation.novdescription|title }}</div>
                    <br>
                    <br>
                    <br>

                <!-- </dl> -->
            </div>

        {% endfor %}
        </div>

        <div>
        <div class="row">
            <div class="col-2">
                <button id="show_more_violations" class="btn btn-outline-secondary">
                    Show More Violations</button>
            </div>
            <div class="col-2">
                <button id="show_fewer_violations" class="btn btn-outline-secondary">
                    Show Fewer Violations</button>
            </div>
            <div class="col-4 offset-4">
                <button id="show_all_violations" class="btn btn-outline-dark">
                    Show All {{ length_violation_list }} Violations</button>
            </div>
        </div>  
        </div>
        <br>
        <br>
        <div class="row" id="violation-alert">
            <p class="text-info">No more violations to show.</p>
        </div>

        {% else %}
        <h2>No NYC Housing Maintenance Code Violation(s) at this address</h2>

    {% endif %}
    </div>
    
    <br>
    <hr>
    <br>
        <p>
            <h4>Landlord of {{ building.building_housenumber }} {{ building.building_streetname }}:</h4>
            Landlord Name: {{ building.landlord.landlord_name }}
            <br>
            Landlord Office Address: {{ building.landlord.office_address }}
            <br>
        </p>


<!-- Connect to JS file -->
<script src="/static/js/building_details.js"></script>

{% endblock %}