{% extends 'base.html' %}
{% block title %}Renters Speak{% endblock %}

{% block body %}
  <h1>Renters Speak</h1>
  
  <br>

    <h2>Navigation</h2>
  
  <br>

  <div class="row">

        <div class="col-3">
          <a href="/reviews">View all reviews</a></li>
        </div>

        <div class="col-3">
          <a href="/landlords">View all landlords</a></li>
        </div>

        <div class="col-3">
          <a href="/buildings">View all buildings</a></li>
        </div>

        <div class="col-3">
          <a href="/users">View all users</a></li>
        </div>

  </div>

  <br>
  <hr>
  <br>

  <h2>Search for Reviews and NYC Housing Violations by Address:</h2>
    <form action="/search_by_address">
      <p>
        Enter an address to search:<br>
        <br>
        House Number:  <input type="text" name="search_review_by_housenumber" size="50">
      </p>

      <p>
        Street Name:  <input type="text" name="search_review_by_streetname" size="50">
      </p>

      <p>
        Postal Code:  <input type="text" name="search_review_by_postalcode">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>

  <br>

  <h2>Search for Reviews by Landlord:</h2>
    <form action="/search_by_landlord">
      <p>
        Enter a landlord to search:<br>
        <input type="text" name="search_landlord" size="50">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>

  <br>
  <hr>
  <br>
  
  <h2>Create an Account</h2>
    <form action="/new_user" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>

      <p>
        Username <input type="text" name="username">
      </p>

      <p>
        Password <input type="password" name="password">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>

  <br>

  <h2>Login for Existing Users</h2>
    <form action="/login" method="POST">
      <p>
        Email <input type="text" name="email">
      </p>

      <p>
        Password <input type="password" name="password">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>

  <br>

  

{% endblock %}