{% extends 'base.html' %}
{% block title %}Renters Speak{% endblock %}

{% block body %}
  <h1>Renters Speak</h1>
  
  <br>

    <h2>Navigation</h2>
  
  <br>

  <div class="row">

        <div class="col-3">
          <a href="/reviews">View all reviews</a></li>
        </div>

        <div class="col-3">
          <a href="/user_login">Login</a></li>
        </div>

        <div class="col-3">
          <a href="/buildings">View all buildings</a></li>
        </div>

        <div class="col-3">
          <a href="/new_user">Create a New Account</a></li>
        </div>

  </div>

  <br>
  <hr>
  <br>

    <h2>NYC Geosearch by Address:</h2>

    <form id="search-address-form" action="/search_address">

      <div class="form-group">
        <br>
        Enter a New York City Address to Search:
        <br>
        <br>
        <input class="form-control" type="text" name="search_nyc_address" 
        id="search_nyc_address" placeholder="Search for an address">
      </div>

      <br>

      <div class="form-group">
          <button type="submit" id="search_nyc_button" class="btn btn-primary">
            Search</button>
      </div>

      <br>
      <hr>
      <br>
 

  <h2>Search for Reviews by Landlord:</h2>
    <form action="/search_by_landlord">
      <p>
        Enter a landlord to search:<br>
        <input type="text" name="search_landlord" size="50">
      </p>

      <p>
        <input type="submit">
      </p>
    </form>

{% endblock %}