{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block body %}


<div>

    <h2>Login for Existing Users</h2>

    <form id="login=form">

        <div class="form-group">
        <!-- <form action="/login" method="POST"> -->
            Email
            <input class="form-control" type="text" name="email" id="email-field"
             placeholder="email">
        </div>
        
        <div class="form-group">
            Password 
            <input class="form=control" type="password" name="password"
            id="password-field" placeholder="password">
        </div>

        <div class="form-group">
            <button type="submit", id="login_button" class="btn btn-primary">
                Login</button>
        </div>

    </form>

</div>

<!-- Connect to JS file -->
<script src="/static/js/login.js"></script>
    
{% endblock %}