{% extends 'base.html' %}

{% block title %}New User{% endblock %}

{% block body %}

<div>

    <h2>Create an Account</h2>

    <form id="new-user-form">

        <div class="form-group">
    
            Email 
            <input class="form-control" type="text" name="email" id="email-field"
            placeholder="email@email.com">
        </div>

        <div class="form-group">
            Username 
            <input class="form-control" type="text" name="username" id="username-field"
            placeholder="username">
        </div>

        <div class="form-group">
            Password 
            <input class="form-control" type="text" name="username" id="password-field"
            placeholder="password">
        </div>

        <br>
        <div class="form-group">
            <button type="submit" id="new_user_button" class="btn btn-primary">
                Login</button>
        </div>
    </form>

</div>

    
{% endblock %}