{% extends 'base.html' %}

{% block title %}Violation Details for {{violation_list.housenumber}} {{violation_list.streetname}}, 
{{violation_list.borough}}, NY {{violation_list.postcode}}{% endblock %}

{% block body %}
<h1>Violation Details for {{violation_list.housenumber}} {{violation_list.streetname}}, 
    {{violation_list.borough}}, NY {{violation_list.postcode}}</h1>

<!-- <p>
    <h4>Landlord of {{ building.building_address }}:</h4>
    Landlord Name: {{ building.landlord.landlord_name }}
    <br>
    Landlord Office Address: {{ building.landlord.office_address }}
    <br>
</p>
<p>
    <h4>Reviews of {{ building.building_address }}:</h4>
        {% if building.reviews %}
            {% for review in building.reviews %}
                <li>Review Text: {{ review.review_body }}</li>
                {% endfor %}
        {% else %}
            <li>No Reviews </li>
        {% endif %}
</p> -->
{% endblock %}