{% extends 'base.html' %}

{% block title %}Write a Review{% endblock %}

{% block body %}

{% if session.get("user_email") %}

  <h2>Write a Review</h2>
    <br>
    <form id="write_review" action="/write_review" method="POST">

      <div class="form-group">

        <i class="bi bi-person-fill"></i> Which Landlord are you Reviewing?
        <input class="form-control" type="text" name="landlord" id="landlord" placeholder="Landlord Name">
      </div>
        <br>
      <div class="form-group">

        <i class="bi bi-building"></i> Which Building are you Reviewing?
         <input class="form-control" type="text" name="building" id="building" placeholder ="Address">
      </div>
        <br>
      <div classs="md-form">
        <i class="bi bi-pencil-fill"></i> Enter your review text:
        <textarea id="review_body" class="md-textarea form-control" name="review_body" rows="4"
        placeholder="Write your review here"></textarea>
      </div>
      <br>
      <div class="form-group">
        <button type="submit" id="write_review_button" class="btn btn-primary">
          Submit Review</button>
      </div> 
    </form>
  
  {% endif %}

<!-- Connect to JS file
<script src="/static/js/login.js"></script> -->

{% endblock %}